::selection {
  background-color: #6078EA;
  color: #fff; }

body {
  background: #f6f6f6;
  color: #171838;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #171838;
  font-weight: 700; }

h6 {
  font-size: 20px; }

h4 {
  font-size: 30px; }

h3 {
  font-size: 35px; }

h2 {
  font-size: 45px; }

h1 {
  font-size: 67px; }

@media (max-width: 991px) {
  h6 {
    font-size: 18px; }

  h4 {
    font-size: 20px; }

  h3 {
    font-size: 35px; }

  h2 {
    font-size: 35px; }

  h1 {
    font-size: 45px; } }
p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: rgba(23, 24, 56, 0.6); }

@media (max-width: 575px) {
  p {
    font-size: 15px; } }
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

@media (min-width: 1500px) {
  .container {
    max-width: 1450px; } }
.primary-btn {
  color: #fff;
  padding: 15px 52px;
  background: #42A7F8;
  border: 1px solid #42A7F8;
  overflow: hidden;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 900;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .primary-btn:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    background: #fff;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1); }
  .primary-btn:hover {
    color: #42A7F8;
    background-color: transparent; }
    .primary-btn:hover::before {
      left: 0%;
      right: auto;
      width: 100%; }

@media (max-width: 575px) {
  .primary-btn {
    width: 100%; } }
.section-gap {
  padding: 200px 0; }

.section-gap-md {
  padding: 100px 0; }

.section-gap-pt {
  padding-top: 200px; }

.section-gap-pt-md {
  padding-top: 100px; }

.section-gap-pb {
  padding-bottom: 200px; }

.mock-shadow {
  filter: drop-shadow(0 0 0.75rem rgba(23, 24, 56, 0.2)); }

.mock-shadow-lg {
  filter: drop-shadow(0 12px 100px rgba(23, 24, 56, 0.3)); }

@media (max-width: 1199px) {
  .section-gap {
    padding: 100px 0; } }
@media (max-width: 575px) {
  .section-gap-md {
    padding: 50px 0; }

  .section-gap-pt {
    padding-top: 100px; }

  .section-gap-pt-md {
    padding-top: 50px; }

  .section-gap-pb {
    padding-bottom: 100px; } }
#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 100; }
  #header .navbar {
    padding: 1rem 0; }
    #header .navbar .logo svg {
      height: 80%;
      width: 80%; }
      #header .navbar .logo svg g g {
        fill: #fff; }
    #header .navbar .navbar-toggler {
      display: none; }
    #header .navbar .nav-list ul {
      margin-left: auto;
      align-items: center;
      height: 100%;
      list-style: none;
      text-align: center; }
      #header .navbar .nav-list ul li {
        font-size: 17px;
        margin: 0 20px;
        display: inline-block;
        height: 100%;
        font-weight: 900; }
        #header .navbar .nav-list ul li a {
          color: #f6f6f6; }
          #header .navbar .nav-list ul li a:hover {
            color: #42A7F8; }
        #header .navbar .nav-list ul li:last-child {
          margin-left: 8px;
          margin-right: 0; }
        #header .navbar .nav-list ul li .primary-btn {
          padding: 15px 52px;
          background: #fff;
          color: #171838;
          display: block;
          border: 1px solid #fff; }
          #header .navbar .nav-list ul li .primary-btn::before {
            background-color: #42A7F8; }
          #header .navbar .nav-list ul li .primary-btn:hover {
            border: 1px solid #42A7F8;
            color: #fff; }
  #header.header-scrolled {
    background: #fff;
    transition: all 0.5s; }
    #header.header-scrolled .navbar .logo svg g g {
      fill: #171838; }
    #header.header-scrolled .navbar .nav-list li a {
      color: #171838; }
    #header.header-scrolled .navbar .nav-list li .primary-btn {
      background: #42A7F8;
      color: #fff;
      border: 1px solid #42A7F8; }
      #header.header-scrolled .navbar .nav-list li .primary-btn::before {
        background-color: #fff; }
      #header.header-scrolled .navbar .nav-list li .primary-btn:hover {
        border: 1px solid #fff;
        color: #42A7F8; }

@media (max-width: 991px) {
  #header .navbar .navbar-toggler {
    display: none; }
  #header.header-scrolled .navbar .navbar-toggler {
    display: block; }
    #header.header-scrolled .navbar .navbar-toggler i {
      color: #171838;
      height: auto; } }
@media (max-width: 575px) {
  #header .navbar .logo svg {
    height: 50%;
    width: 50%; } }
@media (max-height: 800px) {
  #header .navbar .logo svg {
    height: 70%;
    width: 70%; } }
.intro {
  background-image: url("../img/mirap-bg-img.png");
  height: -webkit-fill-available;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 80px;
  margin-bottom: 400px;
  position: relative; }
  .intro .intro-title {
    width: 100%;
    padding: 30px 0 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .intro .intro-title h1 {
      width: 100%;
      line-height: 16vh;
      font-size: 128px;
      color: #fff;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .intro .intro-title h1 span {
        color: #42A7F8; }
      .intro .intro-title h1 .br {
        display: none; }
  .intro .intro-img {
    text-align: center; }
    .intro .intro-img img {
      width: 60%; }
  .intro .intro-text {
    position: absolute;
    bottom: 5%;
    right: 0; }
    .intro .intro-text h4 {
      color: #fff;
      line-height: 60px; }
    .intro .intro-text p {
      color: #f6f6f6;
      opacity: 0.6;
      margin-bottom: 40px; }
    .intro .intro-text .primary-btn {
      padding: 15px 52px;
      background: #fff;
      color: #171838;
      border: 1px solid #fff; }
      .intro .intro-text .primary-btn::before {
        background-color: #42A7F8; }
      .intro .intro-text .primary-btn:hover {
        border: 1px solid #42A7F8;
        color: #fff; }

@media (max-width: 1499px) {
  .intro .intro-title h1 {
    font-size: 100px; }
  .intro .intro-img img {
    width: 50%; } }
@media (max-width: 1199px) {
  .intro .intro-title h1 {
    font-size: 83px;
    line-height: 12vh; } }
@media (max-width: 991px) {
  .intro .intro-title h1 {
    font-size: 100px;
    line-height: 15vh; }
  .intro .intro-text {
    bottom: 2%; }
    .intro .intro-text h4 {
      line-height: 40px; } }
@media (max-width: 767px) {
  .intro {
    margin-bottom: 800px; }
    .intro .intro-title h1 {
      font-size: 73px;
      line-height: 10vh; }
    .intro .intro-text {
      position: relative;
      padding: 100px 15px; }
      .intro .intro-text h4 {
        color: #171838; }
      .intro .intro-text p {
        color: #171838;
        opacity: 0.6;
        margin-bottom: 40px; }
      .intro .intro-text .primary-btn {
        background: #42A7F8;
        color: #fff;
        border: 1px solid #42A7F8; }
        .intro .intro-text .primary-btn::before {
          background-color: #fff; }
        .intro .intro-text .primary-btn:hover {
          border: 1px solid #fff;
          color: #42A7F8; } }
@media (max-width: 575px) {
  .intro .intro-title {
    padding-top: 0; }
    .intro .intro-title h1 .br {
      display: block; } }
@media (max-width: 450px) {
  .intro .intro-title h1 {
    font-size: 55px; }
  .intro .intro-img img {
    width: 80%; }
  .intro .intro-text {
    padding: 50px 15px; } }
.about img {
  width: 60%; }
.about .about-text h1 {
  margin-bottom: 3rem; }
.about .about-text p {
  width: 90%;
  margin-bottom: 40px; }

@media (max-width: 1499px) {
  .about img {
    width: 50%; } }
@media (max-width: 767px) {
  .about .about-text h1 {
    margin-bottom: 1rem; }
  .about .primary-btn {
    display: none; } }
@media (max-width: 450px) {
  .about img {
    width: 80%; }
  .about .about-text p {
    width: 100%; } }
.explain {
  background-color: rgba(240, 240, 240, 0.5); }
  .explain .explain-content {
    width: 100%;
    position: relative; }
    .explain .explain-content .explain-img {
      height: 85%;
      margin-left: -50%;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .explain .explain-content .explain-text {
      position: absolute;
      right: 0;
      top: 0;
      width: 45%;
      margin-top: 140px; }
      .explain .explain-content .explain-text h1 {
        margin-bottom: 3rem; }
      .explain .explain-content .explain-text p {
        width: 90%; }

@media (max-width: 1499px) {
  .explain .explain-content .explain-img {
    margin-left: -130%; }
  .explain .explain-content .explain-text h1 {
    font-size: 52px; } }
@media (max-width: 1199px) {
  .explain .explain-content .explain-img {
    margin-left: -130%;
    height: 80%; }
  .explain .explain-content .explain-text h1 {
    font-size: 43px; } }
@media (max-width: 991px) {
  .explain .explain-content {
    width: initial; }
    .explain .explain-content .explain-img {
      margin-left: 0;
      height: 100%;
      width: 100%; }
    .explain .explain-content .explain-text {
      position: inherit;
      width: 100%;
      margin-top: 100px; }
      .explain .explain-content .explain-text h1 {
        font-size: 47px; }
      .explain .explain-content .explain-text p {
        width: 100%; } }
@media (max-width: 575px) {
  .explain .explain-content .explain-text h1 {
    margin-bottom: 1rem;
    font-size: 35px; } }
@media (max-width: 450px) {
  .explain .explain-content .explain-text h1 {
    font-size: 35px; } }
.banner {
  background-image: url(../img/banner-img.jpg);
  background-size: cover;
  background-position-y: 30%; }
  .banner .overlay {
    background-image: url(../img/banner-overlay.png);
    background-size: cover;
    height: 100%;
    padding: 20px; }
    .banner .overlay h3 {
      color: #fff;
      margin-bottom: 1.5rem; }
      .banner .overlay h3 span {
        font-size: 1.1em; }
    .banner .overlay p {
      color: rgba(246, 246, 246, 0.8);
      margin-bottom: 40px;
      line-height: 2em; }
      .banner .overlay p span {
        color: #fff;
        font-size: 1.1em; }
    .banner .overlay .primary-btn {
      padding: 15px 52px;
      background: transparent;
      color: #fff;
      border: 1px solid #fff; }
      .banner .overlay .primary-btn::before {
        background-color: #fff; }
      .banner .overlay .primary-btn:hover {
        color: #171838; }

@media (max-width: 575px) {
  .banner {
    background-position-x: 30%; } }
.features .features-text h2 {
  margin-bottom: 3rem; }
.features .features-text p {
  width: 90%;
  margin-bottom: 40px; }
.features .features-text-reverse {
  padding-left: 5rem; }
  .features .features-text-reverse p {
    width: auto;
    margin-bottom: 40px; }
.features .feature-img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 70%; }
.features .feature-content {
  width: 100%;
  position: relative; }
  .features .feature-content .feature-img {
    width: auto;
    margin-left: -70%; }

@media (max-width: 1499px) {
  .features .feature-img {
    width: 60%; }
  .features .feature-content .feature-img {
    width: 60%;
    margin-left: -100%; } }
@media (max-width: 1200px) {
  .features.section-gap {
    padding: 200px 0 100px; }
  .features .feature-content .feature-img {
    margin-left: -90%;
    height: 80%; } }
@media (max-width: 991px) {
  .features .features-text-reverse {
    padding-left: 2rem; }
  .features .feature-content .feature-img {
    margin-left: 0;
    height: auto;
    width: 100%; } }
@media (max-width: 767px) {
  .features .features-text h2 {
    margin-bottom: 1rem; }
  .features .features-text p {
    width: 100%; } }
@media (max-width: 575px) {
  .features {
    background-position-x: 30%; }
    .features .feature-img {
      width: 80%; } }
.other-fea {
  background-color: rgba(240, 240, 240, 0.5); }
  .other-fea .other-fea-contents {
    width: 100%; }
    .other-fea .other-fea-contents .other-fea-item {
      margin-top: 80px; }
      .other-fea .other-fea-contents .other-fea-item .other-fea-icon {
        height: auto; }
        .other-fea .other-fea-contents .other-fea-item .other-fea-icon img {
          height: auto; }
      .other-fea .other-fea-contents .other-fea-item .other-fea-text {
        height: auto; }
        .other-fea .other-fea-contents .other-fea-item .other-fea-text span {
          font-size: 15px;
          display: inline-block; }

.getstart h1 {
  margin-bottom: 3rem; }
.getstart p {
  width: 90%;
  margin-bottom: 40px; }

@media (max-width: 1200px) {
  .getstart p {
    width: 100%; } }
@media (max-width: 991px) {
  .getstart h1 {
    margin-bottom: 1rem; } }
@media (max-width: 767px) {
  .getstart h1 {
    margin-top: 3rem; } }
footer {
  background-color: #fff; }
  footer .footer-contents {
    margin-bottom: 2rem; }
    footer .footer-contents .corporate-content img {
      max-width: 55%;
      margin-bottom: 2rem; }
    footer .footer-contents .corporate-content .sns-content {
      align-items: center; }
      footer .footer-contents .corporate-content .sns-content h6 {
        margin-bottom: 0;
        margin-right: 20px;
        font-weight: 700; }
      footer .footer-contents .corporate-content .sns-content .social-btn-dissolve {
        margin: 15px;
        width: 42px;
        height: 42px;
        text-align: center;
        color: #fff;
        line-height: 42px;
        border-radius: 50%;
        display: block;
        position: relative;
        background-color: #000; }
        footer .footer-contents .corporate-content .sns-content .social-btn-dissolve .fab {
          display: inline-block;
          transform: translate(0, 0); }
        footer .footer-contents .corporate-content .sns-content .social-btn-dissolve:hover .fa-twitter {
          color: #4cc4f2; }
        footer .footer-contents .corporate-content .sns-content .social-btn-dissolve:hover .fa-facebook-f {
          color: #3b5998; }
        footer .footer-contents .corporate-content .sns-content .social-btn-dissolve:hover::before {
          opacity: 0;
          -webkit-transform: scale(1.35);
          transform: scale(1.35);
          -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear; }
        footer .footer-contents .corporate-content .sns-content .social-btn-dissolve::before {
          background: inherit;
          content: " ";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.75;
          border-radius: 50%;
          -webkit-transition: none;
          transition: none; }
    footer .footer-contents .footer-corporate {
      text-align: right; }
      footer .footer-contents .footer-corporate .corporate-info {
        text-align: left;
        display: inline-block; }
        footer .footer-contents .footer-corporate .corporate-info h3 {
          line-height: 0.8;
          margin-bottom: 2rem;
          padding: 0.1em 0.3em;
          border-left: solid 7px #42A7F8; }
        footer .footer-contents .footer-corporate .corporate-info ul li {
          font-size: 20px;
          color: #171838;
          margin-bottom: 2rem; }
          footer .footer-contents .footer-corporate .corporate-info ul li a {
            width: 100%;
            display: inline;
            opacity: 0.6;
            position: relative;
            transition: .3s;
            padding-bottom: 5px; }
            footer .footer-contents .footer-corporate .corporate-info ul li a::after {
              position: absolute;
              bottom: .3em;
              left: 0;
              content: '';
              width: 100%;
              height: 1px;
              background-color: #42A7F8;
              opacity: 0;
              transition: .3s; }
            footer .footer-contents .footer-corporate .corporate-info ul li a:hover {
              color: #42A7F8;
              opacity: 1;
              font-weight: 500; }
              footer .footer-contents .footer-corporate .corporate-info ul li a:hover::after {
                bottom: 0;
                opacity: 1; }
          footer .footer-contents .footer-corporate .corporate-info ul li i {
            margin-right: 20px; }
  footer .copyright {
    width: 100%;
    border-top: 1px solid rgba(112, 112, 112, 0.4);
    padding: 25px 0; }
    footer .copyright p {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 0; }
      footer .copyright p span {
        color: #000;
        opacity: 1; }

@media (max-width: 1499px) {
  footer .footer-contents .corporate-content img {
    max-width: 70%; } }
@media (max-width: 1200px) {
  footer .footer-contents .corporate-content img {
    max-width: 90%; } }
@media (max-width: 991px) {
  footer .footer-contents .corporate-content {
    margin-bottom: 2rem; }
    footer .footer-contents .corporate-content img {
      max-width: 35%;
      margin-bottom: 1rem; }
  footer .footer-contents .footer-corporate {
    text-align: left; } }
@media (max-width: 767px) {
  footer .footer-contents .corporate-content img {
    max-width: 45%; }
  footer .footer-contents .footer-corporate {
    margin-bottom: 2rem; }
    footer .footer-contents .footer-corporate .corporate-info {
      display: block; }
      footer .footer-contents .footer-corporate .corporate-info ul li {
        margin-bottom: 1rem; } }
@media (max-width: 575px) {
  footer .footer-contents .corporate-content img {
    max-width: 55%; }
  footer .footer-contents .footer-corporate .corporate-info ul li {
    font-size: 18px; } }
@media (max-width: 450px) {
  footer .footer-contents .corporate-content img {
    max-width: 75%; } }
.textSplitLoad {
  display: none; }

.split {
  visibility: hidden; }

.sa {
  opacity: 0;
  transition: all .5s ease; }

.sa.show {
  opacity: 1;
  transform: none; }

.sa--lr {
  transform: translate(-100px, 0); }

/*# sourceMappingURL=style.css.map */
