// fundation code 

$maincolor:#42A7F8;
$darkcolor:#6078EA;
$font: #171838;

::selection {
    background-color: $darkcolor;
    color: #fff;
}

body {
    background: #f6f6f6;
    color: $font;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font;
    font-weight: 700;
}

h6 {
    font-size: 20px;
}

h4 {
    font-size: 30px;
}

h3 {
    font-size: 35px;
}

h2 {
    font-size: 45px;
}

h1 {
    font-size: 67px;
}

@media(max-width:991px) {

    h6 {
        font-size: 18px;
    }

    h4 {
        font-size: 20px;
    }

    h3 {
        font-size: 35px;
    }

    h2 {
        font-size: 35px;
    }

    h1 {
        font-size: 45px;
    }
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgba(23, 24, 56, 0.6);
}

@media(max-width:575px) {
    p {
        font-size: 15px;
    }
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1450px;
    }
}

// button
.primary-btn {
    color: #fff;
    padding: 15px 52px;
    background: $maincolor;
    border: 1px solid $maincolor;
    overflow: hidden;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    &:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        background: #fff;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &:hover {
        color: $maincolor;
        background-color: transparent;

        &::before {
            left: 0%;
            right: auto;
            width: 100%;
        }
    }
}

@media(max-width:575px) {
    .primary-btn {
        width: 100%;
    }
}

// button

.section-gap {
    padding: 200px 0;
}

.section-gap-md {
    padding: 100px 0;
}

.section-gap-pt {
    padding-top: 200px;
}

.section-gap-pt-md {
    padding-top: 100px;
}

.section-gap-pb {
    padding-bottom: 200px;
}

.mock-shadow {
    filter: drop-shadow(0 0 0.75rem rgba(23, 24, 56, 0.2));
}

.mock-shadow-lg {
    filter: drop-shadow(0 12px 100px rgba(23, 24, 56, 0.3));
}

@media(max-width:1199px) {
    .section-gap {
        padding: 100px 0;
    }
}

@media(max-width:575px) {
    .section-gap-md {
        padding: 50px 0;
    }

    .section-gap-pt {
        padding-top: 100px;
    }

    .section-gap-pt-md {
        padding-top: 50px;
    }

    .section-gap-pb {
        padding-bottom: 100px;
    }
}

// fundation code 




// header
#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 100;

    .navbar {
        padding: 1rem 0;

        .logo {
            svg {
                height: 80%;
                width: 80%;

                g {
                    g {
                        fill: #fff;
                    }
                }
            }
        }

        .navbar-toggler {
            display: none;

        }

        .nav-list {

            ul {
                margin-left: auto;
                align-items: center;
                height: 100%;
                list-style: none;
                text-align: center;


                li {
                    font-size: 17px;
                    margin: 0 20px;
                    display: inline-block;
                    height: 100%;
                    font-weight: 900;

                    a {
                        color: #f6f6f6;

                        &:hover {
                            color: $maincolor;
                        }
                    }

                    &:last-child {
                        margin-left: 8px;
                        margin-right: 0;
                    }

                    .primary-btn {
                        padding: 15px 52px;
                        background: #fff;
                        color: $font;
                        display: block;
                        border: 1px solid #fff;


                        &::before {
                            background-color: $maincolor;
                        }

                        &:hover {
                            border: 1px solid $maincolor;
                            color: #fff
                        }
                    }
                }
            }
        }
    }

    &.header-scrolled {
        background: #fff;
        transition: all 0.5s;

        .navbar {
            .logo {
                svg {
                    g {
                        g {
                            fill: $font;
                        }
                    }
                }
            }

            .nav-list {
                li {
                    a {
                        color: $font;
                    }

                    .primary-btn {
                        background: $maincolor;
                        color: #fff;
                        border: 1px solid $maincolor;

                        &::before {
                            background-color: #fff;
                        }

                        &:hover {
                            border: 1px solid #fff;
                            color: $maincolor
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:991px) {
    #header {
        .navbar {
            .navbar-toggler {
                display: none;

            }
        }

        &.header-scrolled {
            .navbar {
                .navbar-toggler {
                    display: block;

                    i {
                        color: $font;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media(max-width:575px) {
    #header {
        .navbar {
            .logo {
                svg {
                    height: 50%;
                    width: 50%;
                }
            }
        }
    }
}

@media(max-height:800px) {
    #header {
        .navbar {
            .logo {
                svg {
                    height: 70%;
                    width: 70%;
                }
            }
        }
    }
}

// header





// intro

.intro {
    background-image: url("../img/mirap-bg-img.png");
    height: -webkit-fill-available;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 80px;
    margin-bottom: 400px;
    position: relative;

    .intro-title {
        width: 100%;
        padding: 30px 0 50px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

        h1 {
            width: 100%;
            line-height: 16vh;
            font-size: 128px;
            color: #fff;
            letter-spacing: 2px;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;

            span {
                color: $maincolor;
            }

            .br {
                display: none;
            }
        }
    }

    .intro-img {
        text-align: center;
    }

    .intro-text {
        position: absolute;
        bottom: 10%;
        right: 0;

        h4 {
            color: #fff;
            line-height: 60px;
        }

        p {
            color: #f6f6f6;
            opacity: 0.6;
            margin-bottom: 40px;
        }

        .primary-btn {
            padding: 15px 52px;
            background: #fff;
            color: $font;
            border: 1px solid #fff;


            &::before {
                background-color: $maincolor;
            }

            &:hover {
                border: 1px solid $maincolor;
                color: #fff
            }
        }
    }
}

@media(max-width:1499px) {
    .intro {
        .intro-title {
            h1 {
                font-size: 100px;
            }
        }
    }
}

@media(max-width:1199px) {
    .intro {
        .intro-title {
            h1 {
                font-size: 83px;
                line-height: 12vh;
            }
        }
    }
}

@media(max-width:991px) {
    .intro {
        .intro-title {
            h1 {
                font-size: 100px;
                line-height: 15vh;
            }
        }

        .intro-text {
            bottom: 2%;

            h4 {
                line-height: 40px;
            }
        }
    }
}

@media(max-width:767px) {
    .intro {
        margin-bottom: 800px;

        .intro-title {
            h1 {
                font-size: 73px;
                line-height: 10vh;

            }
        }

        .intro-text {
            position: relative;
            padding: 100px 15px;

            h4 {
                color: $font;
            }

            p {
                color: $font;
                opacity: 0.6;
                margin-bottom: 40px;
            }

            .primary-btn {
                background: $maincolor;
                color: #fff;
                border: 1px solid $maincolor;


                &::before {
                    background-color: #fff;
                }

                &:hover {
                    border: 1px solid #fff;
                    color: $maincolor
                }
            }
        }
    }
}

@media(max-width:575px) {
    .intro {
        margin-bottom: 900px;

        .intro-title {
            padding-top: 0;

            h1 {
                .br {
                    display: block;
                }
            }
        }
    }
}

@media(max-width:450px) {
    .intro {
        .intro-title {
            h1 {
                font-size: 55px;
            }
        }

        .intro-img {
            img {
                width: 80%;
            }
        }

        .intro-text {
            padding: 50px 15px;
        }
    }
}

@media(max-height:900px) {
    .intro {
        .intro-img {
            img {
                height: 90%;
            }
        }
    }
}

@media(max-height:800px) {
    .intro {
        .intro-img {
            img {
                height: 75%;
            }
        }
    }
}

// intro





// about

.about {
    .about-text {
        h1 {
            margin-bottom: 3rem;
        }

        p {
            width: 90%;
            margin-bottom: 40px;
        }
    }
}


@media(max-width:767px) {
    .about {
        .about-text {
            h1 {
                margin-bottom: 1rem;
            }
        }

        .primary-btn {
            display: none;
        }
    }
}

@media(max-width:450px) {
    .about {
        img {
            width: 80%;
        }
    }
}

@media(max-height:900px) {
    .about {
        img {
            width: 65%;
        }
    }
}


// about





// explain

.explain {
    background-color: rgba(240, 240, 240, 0.5);

    .explain-content {
        width: 100%;
        position: relative;

        .explain-img {
            margin-left: -70%;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

        .explain-text {
            position: absolute;
            right: 0;
            top: 0;
            width: 45%;
            margin-top: 140px;

            h1 {
                margin-bottom: 3rem;
            }

            p {
                width: 90%;
            }
        }
    }
}

@media (max-width: 1499px) {
    .explain {
        .explain-content {
            .explain-img {
                margin-left: -130%;
            }

            .explain-text {
                h1 {
                    font-size: 52px;
                }
            }
        }
    }
}

@media(max-width:1199px) {
    .explain {
        .explain-content {
            .explain-img {
                margin-left: -130%;
                height: 80%;
            }

            .explain-text {
                h1 {
                    font-size: 43px;
                }
            }
        }
    }
}

@media(max-width:991px) {
    .explain {
        .explain-content {
            width: initial;

            .explain-img {
                margin-left: 0;
                height: 100%;
                width: 100%;
            }

            .explain-text {
                position: inherit;
                width: 100%;
                margin-top: 100px;

                h1 {
                    font-size: 47px;
                }

                p {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width:575px) {
    .explain {
        .explain-content {
            .explain-text {
                h1 {
                    margin-bottom: 1rem;
                    font-size: 35px;
                }
            }
        }
    }
}

@media(max-width:450px) {
    .explain {
        .explain-content {
            .explain-text {
                h1 {
                    font-size: 35px;
                }
            }
        }
    }
}

@media(max-height:800px) {
    .explain {
        .explain-content {
            .explain-img {
                height: 85%;
                margin-left: -110%;
                
            }
        }
    }
}

// explain





// banner

.banner {
    background-image: url(../img/banner-img.jpg);
    background-size: cover;
    background-position-y: 30%;

    .overlay {
        background-image: url(../img/banner-overlay.png);
        background-size: cover;
        height: 100%;
        padding: 20px;


        h3 {
            color: #fff;
            margin-bottom: 1.5rem;

            span {
                font-size: 1.1em
            }
        }

        p {
            color: rgba(246, 246, 246, 0.8);
            margin-bottom: 40px;
            line-height: 2em;

            span {
                color: #fff;
                font-size: 1.1em
            }
        }

        .primary-btn {
            padding: 15px 52px;
            background: transparent;
            color: #fff;
            border: 1px solid #fff;


            &::before {
                background-color: #fff;
            }

            &:hover {
                color: $font;
            }
        }
    }
}

@media(max-width:575px) {
    .banner {
        background-position-x: 30%;
    }
}

// banner





// features

.features {
    .features-text {

        h2 {
            margin-bottom: 3rem;
        }

        p {
            width: 90%;
            margin-bottom: 40px;
        }
    }

    .features-text-reverse {
        padding-left: 5rem;

        p {
            width: auto;
            margin-bottom: 40px;
        }
    }

    .feature-img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .feature-content {
        width: 100%;
        position: relative;

        .feature-img {
            margin-left: -70%;
        }
    }
}

@media(max-width:1499px) {
    .features {
        .feature-content {
            .feature-img {
                margin-left: -100%;
            }
        }
    }
}

@media(max-width:1200px) {
    .features {

        &.section-gap {
            padding: 200px 0 100px;
        }

        .feature-content {
            .feature-img {
                margin-left: -90%;
                height: 80%;
            }
        }
    }
}

@media(max-width:991px) {
    .features {
        .features-text-reverse {
            padding-left: 2rem;
        }

        .feature-content {
            .feature-img {
                margin-left: 0;
                height: auto;
                width: 100%;
            }
        }
    }
}

@media(max-width:767px) {
    .features {
        .features-text {
            h2 {
                margin-bottom: 1rem;
            }

            p {
                width: 100%;
            }
        }
    }
}

@media(max-width:575px) {
    .features {
        background-position-x: 30%;

        .feature-img {
            width: 80%;
        }
    }
}

// features




// other Features 

.other-fea {
    background-color: rgba(240, 240, 240, 0.5);

    .other-fea-contents {
        width: 100%;

        .other-fea-item {
            margin-top: 80px;

            .other-fea-icon {
                height: auto;

                img {
                    height: auto;
                }
            }

            .other-fea-text {
                height: auto;

                span {
                    font-size: 15px;
                    display: inline-block;
                }
            }
        }
    }
}

// other Features




// getstart

.getstart {
    h1 {
        margin-bottom: 3rem;
    }

    p {
        width: 90%;
        margin-bottom: 40px;
    }
}

@media(max-width:1200px) {
    .getstart {
        p {
            width: 100%;
        }

    }
}

@media(max-width:991px) {
    .getstart {
        h1 {
            margin-bottom: 1rem;
        }
    }
}

@media(max-width:767px) {
    .getstart {
        h1 {
            margin-top: 3rem;
        }
    }
}

// getstart





// footer

footer {
    background-color: #fff;

    .footer-contents {
        margin-bottom: 2rem;

        .corporate-content {
            img {
                max-width: 55%;
                margin-bottom: 2rem;
            }

            .sns-content {
                align-items: center;

                h6 {
                    margin-bottom: 0;
                    margin-right: 20px;
                    font-weight: 700;
                }

                .social-btn-dissolve {
                    margin: 15px;
                    width: 42px;
                    height: 42px;
                    text-align: center;
                    color: #fff;
                    line-height: 42px;
                    border-radius: 50%;
                    display: block;
                    position: relative;
                    background-color: #000;

                    .fab {
                        display: inline-block;
                        transform: translate(0, 0);
                    }

                    &:hover {

                        .fa-twitter {
                            color: #4cc4f2;
                        }

                        .fa-facebook-f {
                            color: #3b5998;
                        }

                        &::before {
                            opacity: 0;
                            -webkit-transform: scale(1.35);
                            transform: scale(1.35);
                            -webkit-transition: all 0.5s linear;
                            transition: all 0.5s linear;
                        }
                    }

                    &::before {
                        background: inherit;
                        content: " ";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.75;
                        border-radius: 50%;
                        -webkit-transition: none;
                        transition: none;
                    }
                }
            }
        }

        .footer-corporate {
            text-align: right;

            .corporate-info {
                text-align: left;
                display: inline-block;

                h3 {
                    line-height: 0.8;
                    margin-bottom: 2rem;
                    padding: 0.1em 0.3em;
                    border-left: solid 7px $maincolor;
                }

                ul {
                    li {
                        font-size: 20px;
                        color: $font;
                        margin-bottom: 2rem;

                        a {
                            width: 100%;
                            display: inline;
                            opacity: 0.6;
                            position: relative;
                            transition: .3s;
                            padding-bottom: 5px;

                            &::after {
                                position: absolute;
                                bottom: .3em;
                                left: 0;
                                content: '';
                                width: 100%;
                                height: 1px;
                                background-color: $maincolor;
                                opacity: 0;
                                transition: .3s;
                            }

                            &:hover {
                                color: $maincolor;
                                opacity: 1;
                                font-weight: 500;

                                &::after {
                                    bottom: 0;
                                    opacity: 1;
                                }
                            }
                        }

                        i {
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        width: 100%;
        border-top: 1px solid rgba(112, 112, 112, 0.4);
        padding: 25px 0;

        p {
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 0;

            span {
                color: #000;
                opacity: 1;
            }
        }
    }
}

@media(max-width:1499px) {
    footer {
        .footer-contents {
            .corporate-content {
                img {
                    max-width: 70%;
                }
            }
        }
    }
}


@media(max-width:1200px) {
    footer {
        .footer-contents {
            .corporate-content {
                img {
                    max-width: 90%;
                }
            }
        }
    }
}

@media(max-width:991px) {
    footer {
        .footer-contents {
            .corporate-content {
                margin-bottom: 2rem;

                img {
                    max-width: 35%;
                    margin-bottom: 1rem;
                }
            }

            .footer-corporate {
                text-align: left;
            }
        }
    }
}

@media(max-width:767px) {
    footer {
        .footer-contents {
            .corporate-content {
                img {
                    max-width: 45%;
                }
            }

            .footer-corporate {
                margin-bottom: 2rem;

                .corporate-info {
                    display: block;

                    ul {
                        li {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:575px) {
    footer {
        .footer-contents {
            .corporate-content {
                img {
                    max-width: 55%;
                }
            }

            .footer-corporate {
                .corporate-info {
                    ul {
                        li {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:450px) {
    footer {
        .footer-contents {
            .corporate-content {
                img {
                    max-width: 75%;
                }
            }
        }
    }
}

// footer


.textSplitLoad {
    display: none;
}

.split {
    visibility: hidden;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

.sa.show {
    opacity: 1;
    transform: none;
}

.sa--lr {
    transform: translate(-100px, 0);
}